* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.TaskManager {
    text-align: center;
    width: 600px;
    height: 265px;
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}

.work{
    margin-top: 20px;
}

#addtask {
    width: 64%;
    padding: 8px 15px;
    font-size: 15px;  
    outline: none;
}

 #btn-t {
    margin-right: 10px;
    padding: 8px 45px;
    border: 0px solid;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 4px;
}


.remov{
    padding: 8px 150px;
    border: 0px solid;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 4px;
    margin-top: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

}

#task-priority {
    padding: 7px 20px;
    border: 0;
    outline: none;
    margin-right: 10px;

}
#task-fliter{
    padding: 7px 30px;
    border: 0;
    outline: none;
    margin-right: 10px;
}

#task-date{
    padding: 7px 15px;
    border: 0;
    outline: none;
    margin-right: 10px;
}

#back{
    /* margin-left: 83%; */
    background-color: rgb(0, 0, 0);
    border: 0px solid;
    padding: 10px 50px;
    color: white;

}

.back_work{
    margin-top: -23px;
}

#search {
    width: 100%;
    padding: 10px 100px;
    outline: none;
    font-size: 17px;
    border: 0px solid;
    background-color:rgb(0, 0, 0);
    color: white;
    
}

/* div work */

#webui{
    display: flex;
    margin-top: -15px;
}

#f_work {
    padding: 20px;
    margin-top: 55px;
    background-color: rgb(74, 194, 94);
    color: white;
    height: 900px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.aosm{
    display: flex;
}

#div2 {
    background-color:#9fa49f;
    padding: 36px;
    text-align: center;
    height: 640px;
}

#data-fliter,#fliter,#f-priorpty {
    width: 150px;
    padding: 2px;
}

#task-list {
    margin-left: 35px;
}

.best {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 100px;
}

.best.todo {
    background-color: #154e36;
    width: 1200px;
    color: white;
}

.btn  {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover {
    background-color: white;
    color: black;
}
